<!DOCTYPE html>
<html>
  <head>
    <title>Expense Tracker</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Expense Tracker</h1>
    </header>
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li>
          <a href="{{ url_for('category') }}"
            ><div id="categories">Categories</div></a
          >
        </li>
        <li>
          <a href="{{ url_for('expense') }}"><div id="expense"></div></a>
        </li>

        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
      </ul>
    </nav>
    <div class="content">{% block content %}{% endblock %}</div>
    <script src="./main.js"></script>
  </body>
</html>
